@model FindForYou.Models.Usuario

@{
    ViewData["Title"] = "Delete";
}

<h1 class="text-center my-4">Deletar</h1>

<h3 class="text-center">Você tem certeza que deseja excluir isto?</h3>
<div class="details-container">
    <h4 class="text-center">Usuário</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered details-table">
            <tbody>
                <tr>
                    <th>Nome:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioNome)</td>
                </tr>
                <tr>
                    <th>Telefone:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioTelefone)</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioEmail)</td>
                </tr>
                <tr>
                    <th>Senha:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioSenha)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <form asp-action="Delete">
        <input type="hidden" asp-for="UsuarioId" />
        <button type="submit" class="btn btn-danger">Deletar</button> |
        <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
    </form>
</div>
