@model FindForYou.Models.Usuario

@{
    ViewData["Title"] = "Details";
}

<h1 class="text-center my-4">Detalhes</h1>

<div class="details-container">
    <h4 class="text-center">Usuario</h4>
    <hr />
    <div class="table-responsive">
        <table class="table table-bordered details-table">
            <tbody>
                <tr>
                    <th>Nome:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioNome)</td>
                </tr>
                <tr>
                    <th>Telefone:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioTelefone)</td>
                </tr>
                <tr>
                    <th>Email:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioEmail)</td>
                </tr>
                <tr>
                    <th>Senha:</th>
                    <td>@Html.DisplayFor(model => model.UsuarioSenha)</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="text-center">
    <a asp-action="Edit" asp-route-id="@Model?.UsuarioId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Voltar para lista</a>
</div>